<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  
  <div class="article-inner">
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/category') %>
    </div>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>

      <% if (page.path === "tags/index.html"){ %>
        <%- list_tags() %>
      <% } %>
        
    </div>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && page.path !== "tags/index.html"){ %>
<style>
  #comments .vedit textarea {
    font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei";
    -webkit-transition: none;
    transition: none;
    resize: none;
  }
</style>
<section id="comments">
  <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  <script>
    new Valine({
        el: '#comments' ,
        notify: false, 
        verify: false, 
        appId: 'no6GH9q0MPIVxjlmWzbNWxDI-gzGzoHsz',
        appKey: 'JdxaTNOAHeG6Kf8lgpEuHLMK',
        placeholder: 'leave something',
        path: window.location.pathname, 
        avatar: 'retro' 
    });
  </script>
</section>
<% } %>
